* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.flex{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    gap: 2rem;
}

.card {
    width: 320px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background-color: #fff;
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: translateY(-10px);
}

.card-img {
    width: 100%;
    height: auto;
    border-bottom: 2px solid #eee;
}

.card-content {
    padding: 20px;
}

.card-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #333;
}

.card-description {
    font-size: 1rem;
    color: #777;
    margin-bottom: 20px;
}

.card-btn {
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.card-btn:hover {
    background-color: #2980b9;
}

.gap-2{
    margin-top: 2rem;
}